:root {
    --bg: #000000;
    --text-color: #01F105;
    --sphere-color: #0b638b;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--text-color);
    text-decoration: none;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('font/PlaypenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg);
    font-family: 'MinhaFonte', sans-serif;
    /* padding-bottom: 4vw; */
    height: 100vh;

    background-image: url("./img/matrix-raining-code.gif");
}


.avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    margin-top: 3vh;
}

.avatar img {
    width: 70%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* padding-top: 5vw; */
}

.social {
    background-color: var(--bg);
    width: 90vw;
    display: flex;
    text-align: left;
    padding-bottom: 2vw;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 2vw;
    box-shadow: 5px 4px 100px rgba(3, 211, 20, 0.3);
    z-index: 100;
}

.nome {
    display: flex;
    margin-top: 3vw;
    flex-direction: column;
    text-align: center;
    gap: 2vw;
}

hr {
    border: 1px solid var(--text-color);
    width: 70vw;
}




.contacts {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
    gap: 5vw;
    padding: 3vw;
    margin-top: 2vw;
    margin-left: 5%;
    height: 100%;
    width: 100%;
}

.whats,
.linkedin,
.instagram,
.email,
.website {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 3vw;
    width: 90%;

    img{
        display: block;
        width: 10vw;
    }
}





/* -------------------------------------------- */

@media (min-width: 1024px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-bottom: 0;
    }

    #titulo {
        position: relative;
        top: 1%;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70vw;
        max-width: 1200px;
    }

    .avatar {
        text-align: center;
        width: 40%;
    }

    .avatar img {
        position: fixed;
        width: 30%;
        z-index: 1000;
        bottom: 0;
        right: 46%;
    }

    .nome{
        width: 90%;
        margin-top: 1vw;
    }

    hr {
        display: block;
        width: 100%;
    }

    .social {
        width: 35vw;
        max-width: 600px;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1vw;
        box-shadow: 2px 5px 30px rgba(1, 253, 135, 0.3);
    }

    .contacts {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        justify-content: space-between;
        gap: 2vw;
        padding: 2vw;
        margin-top: 0;
    }

    .whats,
    .linkedin,
    .instagram,
    .email,
    .website {
        display: flex;
        align-items: center;
        gap: 1vw;
        width: 100%;
    }

    .whats img,
    .linkedin img,
    .instagram img,
    .email img,
    .website img {
        width: 3vw;
        max-width: 4vw;
    }


}