:root {
    --bg: #000000;
    --text-color: #fafafa;
    --sphere-color: #04183b;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--text-color);
    text-decoration: none;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('font/PlaypenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--bg);
    font-family: 'MinhaFonte', sans-serif;
    height: 100vh;
}


.avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    margin-top: 5vw;
}

.avatar img {
    width: 50%;
    border-radius: 50%;
    background-color: var(--sphere-color);
    border: 3px solid var(--text-color);
}



.social {
    width: 95vw;
    display: flex;
    text-align: left;
    padding-bottom: 2vw;
    flex-direction: column;
    align-items: center;
    border-radius: 2vw;
}

.nome {
    display: flex;
    margin-top: 3vw;
    flex-direction: column;
    text-align: center;
    gap: 2vw;
}



.contacts {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
    gap: 5vw;
    padding: 3vw;
    font-size: large;
    height: 100%;
    width: 100%;
}

.whats,
.linkedin,
.instagram,
.email,
.website {
    background-color: var(--sphere-color);
    padding: 2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 3vw;
    width: 95%;

    img {
        display: block;
        width: 10vw;
    }
}


/* -------------------------------------------- */

@media (min-width: 1024px) {

    body {

        width: 30vw;

    }




}